# Virtual Environment
venv/

# VS Code settings
.vscode/

# Datasets
Datasets/

# Model files
Models/

# Results
Results/graph/

# Python cache
__pycache__/
*.pyc
*.pkl
*.png
*.pdf

#src
src/check_mp.py
src/data_pipeline.py
src/train_model.py
src/train_model_1.py
src/focus_server.py
src/focus_dashboard.html
src/focusvstime.py